
body {
	font-family: "Comic Sans MS";
	font-family: Arial, "sans serif";

}

#pg1header h1 {
	margin: 0;
 
	float: left;
	width: 30%;
	text-transform: uppercase;
}
#pg1header div[data-role="navbar"] {
	float: right;
	width: 50%;
}
#pg1header div[data-role="navbar"] li {
	display: inline-block;
}
/*#pg1header nav ul {
	margin-right: 5em;
	margin-top: .67em;
	display:inline-block;
}
#pg1header nav ul li {
	margin-left: 3em;
	border: 1px solid black;
	background: aqua;
	border-radius: 5px;
	width: 10em;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
}*/
#pg1header a {

}
#pg1header {
	clear: both;
	width: 100%;
	display: block;
 	height: 3em;
 	border-bottom: 1px solid black;
}
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}