
html {
	bottom:0;
	top:0;
}


body {
	font-family: "Comic Sans MS";
	font-family: Arial, "sans serif";
	position: relative;
	bottom:0;
	top:0;

}
h1, h2, h3, a, button {
	text-transform: uppercase;
}
#pg1header h1, #pg2header h1 {
	margin: 0;
 
	float: left;
	width: 30%;
	text-transform: uppercase;
}
#pg1header div[data-role="navbar"], #pg2header div[data-role="navbar"] {
	float: right;
	width: 50%;
}
#pg1header div[data-role="navbar"] li, #pg2header div[data-role="navbar"] li {
	display: inline-block;
}
form {
	width: 80%;
	margin: 0 auto;
}
/*#pg1header nav ul {
	margin-right: 5em;
	margin-top: .67em;
	display:inline-block;
}
#pg1header nav ul li {
	margin-left: 3em;
	border: 1px solid black;
	background: aqua;
	border-radius: 5px;
	width: 10em;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
}*/
#pg1header a {

}
.test {
	width: 100%;
	position: absolute;
	height: 100%;
}
#search {
	height: 2em;
	position:relative;
}
.control, .test {
	height: 100%;
	position: relative;
	bottom:0;
	display:block;
}
#funcpopup {
	background: orange;
	font-weight: bolder;
	text-transform: uppercase;
	height: 150px;
	width: 250px;
}
#controlimg2, #controlimg3 {
	height: 100%;
	bottom: 0;
	top: 0;
	display:relative;
}
#funcpopup button {
	height: 100px;
	background: thistle;
}
#funcpop #fun.ui-btn {
 background: red;
 padding: 0em;
}
#fun {
	font-size: 1.2em;


}
#testcontainer, .testcontainer {
	height: 350px;
	position: relative
	background: aqua;
}
a#pop {
	background: white;
 
}
.thing {
	content: url('water_lily.jpeg');
}
#pg1header {
	clear: both;
	width: 100%;
	display: block;
 	height: 3em;
 	border-bottom: 1px solid black;
}
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}
.ui-grid-a, .ui-grid-b {

	border: 1px solid black;

}
#page1 div.ui-block-a, #page1 div.ui-block-b {
 
	 width:  30%;
	 padding: 1em;
}
.ui-body-c {
	margin-left: 1em;
	margin-right: 1em;
}
#page2 .h2border {
	border: 1px solid black;
}
#mainform {
	padding: 1em;
	text-transform:uppercase;
}
#page2 h2 {
	margin-top:0;
	margin-bottom: 0;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align:center;
	width: 100%;
	display:inline-block;
	position:relative;
	height: 100%;
	text-transform: uppercase;
	 
}
#page2 h2.hide {
	visibility: hidden;
	
}

#main #page1 p {
	width: 75%;
	display: absolute; 
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
}


#main, .main {
	top:0;
	bottom:0;
	position:relative;
	width: 100%;
}


form {
	display:block;
}
.ui-input-search {
	position:relative;
	display:block;
}
@media all and (max-width: 720px) {
	#page1 .ui-block-a,
	#page1 .ui-block-b,
	#page1 .ui-block-c {
		width: 100%;
		margin-bottom: 3em;
	}
 

#pg1header h1, #pg2header h1 {
	margin: 0;
 
	float: none;
	width: 100%;
	text-transform: uppercase;
	display:  block;
}
#pg1header div[data-role="navbar"], #pg2header div[data-role="navbar"] {
	float: none;
	width: 100%;
	display: block;

}
#pg1header div[data-role="navbar"] li,#pg2header div[data-role="navbar"] li {
	display: block;
	margin-bottom: 0;
}
div#main, .main {
margin-top: 8em;
}
	 

#main p {
border: 1px solid black;
}
}